.font{
    font-family: Verdana;
    font-size:20px;
}

body{
    background-color: #D5EEBB;
}

  .navigation{
      border: gray;
      background-color: #5F7A61;
      width:101%;
      margin-left:-8px;
      margin-top:-10px;
  }
  .texttitle{
      font-family: Verdana;
      font-size:50px;
      text-shadow: 2px 2px rgba(0,0,0,0.2);
      margin-left:44%;
      border-bottom: 5px solid black;
      box-shadow: 0px 2px rgba(0,0,0,0.2);;
  }

  .menuside {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: Verdana;
  }
  
  .menuside a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .menuside a:hover {
    color: #f1f1f1;
  }
  
  .menuside .menuclose {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
  }

  .menu_button{
    font-family: Verdana;
    font-size:40px;
    cursor: pointer;
    background-color: #5F7A61;
    margin-left:-9px;
    text-shadow: 2px 2px rgba(0,0,0,0.2);
  }

  .img{
    border: 5px solid #444941;
    background-color: #444941;
    width:100.5%;
    height:500px;
    margin-left:-10px;
    margin-top:-22px;
  }

  .block{
    border: 2px solid #5F7A61;
    background-color: #5F7A61;
    width:100.8%;
    height:90px;
    margin-left:-8px;
    margin-top:-64px;
    z-index: -3;
  }

  .textblock{
    border: 2px solid #444941;
    border-radius: 5px;
    background-color: #D7FBE8;
    width:fit-content;
    height:fit-content;
    padding: 5px;
    box-shadow: 2px 2px rgba(0,0,0,0.5);
  }

  .fonttext{
    font-family: Verdana;
    font-size:15px;
  }